# shared requirements for all orchestrators and test runners.
urllib3 >= 2.1.0, < 3.0.0
python_dateutil >= 2.8.2
pydantic >= 2
typing-extensions >= 4.7.1
oauthlib >=3.2.2
requests-oauthlib >=2.0.0
celery==5.5.2
# DEPENDENCY SWITCH:
#git+https://github.com/flatland-association/flatland-benchmarks.git@feature/integration-api-changes#subdirectory=fab-clientlib
fab-clientlib==0.12.2
