name: Checks

env:
  # DEPENDENCY SWITCH:
  flatland-benchmarks-ref: chenkins-patch-1

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ "main" ]
  # Scheduled workflows will only run on the default branch.
  schedule:
    - cron: '30 5 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-ai4realnet-orchestrators:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.13" ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run tests
        run: |
          python -m pip install -r requirements.txt -r requirements-dev.txt -r ai4realnet_orchestrators/railway/requirements.txt
          pytest -s -m "not integration"
  test-ai4realnet-orchestrator-railway:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.13" ]
    steps:
      - name: Inspect disk
        run: |
          df -h
          docker system df
      # https://stackoverflow.com/questions/30604846/docker-complains-about-no-space-left-on-device-how-to-clean-up
      - name: Prune docker system
        run: |
          docker system prune --all --force
      # https://www.dzombak.com/blog/2024/09/freeing-disk-space-on-github-actions-runners/
      - name: Free disk space
        run: |
          curl -fsSL https://raw.githubusercontent.com/kou/arrow/e49d8ae15583ceff03237571569099a6ad62be32/ci/scripts/util_free_space.sh | bash
      - name: Inspect disk again
        run: |
          df -h
          docker system df
      - uses: actions/checkout@v4
        with:
          repository: flatland-association/flatland-benchmarks
          path: flatland-benchmarks
          ref: ${{ env.flatland-benchmarks-ref }}
      - name: Debug branch
        working-directory: flatland-benchmarks
        run: |
          set -euxo pipefail
          git remote show origin
          git status
          git branch
      - uses: actions/checkout@v4
        with:
          path: flatland-benchmarks/evaluation/ai4realnet_orchestrators
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run tests
        working-directory: flatland-benchmarks/evaluation/ai4realnet_orchestrators
        run: |
          python -m pip install -r requirements.txt -r requirements-dev.txt -r ai4realnet_orchestrators/railway/requirements.txt
          export OAUTHLIB_INSECURE_TRANSPORT=1
          pytest -s -m integration
